* {
   font-family: 'Roboto', sans-serif;
}

main {
   max-width: 1200px;
   margin: 0 auto;
}

/* !SECCION 1 */

.hero {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-auto-rows: 550px;
}

.hero__img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

/* !SECCION INFO */

.info {
   align-self: center;
}

.info__title {
   color: #333;
   font-size: 3rem;
   margin-bottom: 24px;
   font-weight: bolder;
}

.info__subtitle {
   color: #333;
   font-size: 1.5rem;
   margin-bottom: 24px;
}


.info__button {
   padding: 12px 24px;
   background-color: orange;

   border: none;
   border-radius: 15px;

   color: #333;
   font-weight: bolder;
}

/* !SECCION DISHES */

.dishes {
   margin: 100px 0;
}

.dishes__title {
   color: #333;
   font-weight:bold;
   text-align: center;
   margin-bottom: 50px;
   font-size: 2rem;
}

.dishes__container {
   display: grid;
   /* indico que tendre 4 columnas de 1 fraccion + filas de 1 fraccion */
   grid-template-columns: repeat(4, minmax(150px,200px));
   /* agregar espaciado */
   grid-auto-rows: 1fr;
   gap:25px;
   justify-content: center;
}

.dishes__item {
   width: 100%;
   height: 100%;
   /* indico que cubra toda la celda con object cover */
   object-fit: cover;
}

.dishes__item--big {
   grid-area: 1 / 1 / 3 / 3;
}

/* !SECCION HOME MENU */

.menu {

}

.menu__title {
   font-size: 2rem;
   color: #333;
   font-weight: bolder;
   text-align: center;
   margin-bottom: 50ox;
}

.menu__grid {
   display: grid;
   grid-template-columns: repeat(5, minmax(100px,250px));
   justify-content: center;
   gap: 25px;
}

.menu-grid-item {
   background-color: rgba(246, 177, 152, 0.486);
   padding: 15px;
   border-bottom-left-radius: 25px;
   border-top-right-radius: 25px;
}

.menu-grid-item img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}

